@model BlackSys.Models.Ars

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ars</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArsCodigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArsCodigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArsNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArsNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArsActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArsActivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstitucionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstitucionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArsUsuarioRegistra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArsUsuarioRegistra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArsFechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArsFechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArsUsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArsUsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArsFechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArsFechaModifica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
